@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindos</h1>
    <p>Leia sobre <a href="https://docs.microsoft.com/aspnet/core">Este é um um web site em ASP.NET Core</a>.</p>
    <h2> O desafio foi criar um site que tenha um menu Tarefas, e esse tem a opção de criar, editar, deletar atualizar e detalhes da tarefa</h2>
</div>
